ul{

    list-style-type:none;
    margin: 0;
    padding:0;
    overflow:hidden;
    background-color:#333;
}

li{

    float:left;
} li a{

    color:white;
    display:block;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
li a:hover:not(.home){

    background-color:#111;
}.home{

    background-color:#04AA6D;
}.buttons{

    text-align:center;
  background-color: #666;
  border: none;
  color: white;
  
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  display:block;
}.home{

    text-align:center;
}p{
    font-size:18px;
    color:white;
}.centertext{
color:white;
    text-align: center;
}body{

    background-image:url(backgroundIMG2.jfif);
    background-position: center center;
    background-attachment:fixed;
    background-position:center;
    
}nav ul li ul, .SubSocialMedia{
    display: inline-block;
    
    padding: 8px 14px;
    border-radius: 0px 0px 4px 4px;
    position:absolute;
    display:none;
    
}nav ul li:hover ul{
    display:block;
    text-decoration: none;
    background-color:#666;
    z-index: 1;
}
nav ul li ul li a{

    padding: 8px 8px;

}

img{
    border-style: solid;
    border-color: blue;

}.margin{

    border-left:6px solid red;
    background-color: lightgrey;

}.button{

    box-shadow: 0 9px #999;
    text-align: center;
    text-decoration:none;
    padding: 80px 120px;
    color:#fff;
    background-color:#4caf50;
    border:none;
    display: inline-block;
    font-size:60px;
    outline:none;
    cursor: pointer;
    border-radius: 15px;
    
}.button:hover{
    background-color: #3e8e41
}.button:active{

    background-color:#3e8e41;
    box-shadow: 0 5px #666;
    transform:translate(4px);
}.centering{
    position:relative;
    top: 50%; 
    left:1%;
}.centering2{

    position:absolute;
    top: 35.7%;
    right:10%;
   
    
}.white{

    color:white;    
    font-size:25px;
  
}.bottom{

    text-align:bottom;
}.container{
    bottom: -120px;

    position:relative;
}.bottomleft {
    position: relative;
    left: 15px;
    color:white;
  }p{

    font-size:18.5px;
  }

   






